@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;
}

:root {
    --primary-color: #2874f0;
}

.container {
    padding: 0 8px;
}

/* -----------------------header section------------------------------------------------------- */
header {
    background-color: var(--primary-color);
    height: 56px;
}
header .nav-container {
    background-color: var(--primary-color);
    display: flex;
    height: 100%;
    max-width: 1248px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* gap: 40px; */
}

header .nav-container .logo {
    display: flex;
    justify-content: flex-end;
    max-width: 137px;
}

header .nav-container .logo img {
    width: 75px;
    cursor: pointer;
}

header .search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12px ;
}

header .search .search-container {
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    display: flex;
}

header .search .search-container input {
    border-radius: 2px;
    padding: 16px;
    width: calc(100%  - 32px);
    border: none;
    outline: none;
    font-size: 14px;
}

header .search .search-container .search-btn {
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}


header .login {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
    color: #fff;
}

header .login button {
    color: var(--primary-color);
    color: #2874f0;
    background-color: #fff;
    cursor: pointer;
    border-radius: 2px;
    height: 32px;
    padding: 5px 40px;
    border: 1px solid #dbdbdb;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 550;
}

header .become-seller {
    display: flex;
    align-items: center;
    line-height: 20px;
    font-size: 16px;
    letter-spacing: .1px;
    font-weight: 500;
    color: #fff;
    position: relative;
}

header .more {
    height: 100%;
    margin: 0 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

header .more svg {
    margin-left: 8px;
    margin-top: 4px;
    rotate: -90deg;
    cursor: pointer;
}

header .cart {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    position: relative;
    letter-spacing: .1px;
    height: 100%;
    cursor: pointer;
}

header .cart svg {
    margin: 0 8px;
}

/*--------------------header end ----------------------------*/

/* ----------------section 1--------------------------------- */
.section-1   {
    width: 100%;
    height: 122px;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}

.section-1-container {
    display: flex;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    color: #212121;
    max-width: 1280px;
}

 .section-1-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    height: 100%;
    flex: content;
    font-size: 14px;
    font-weight: 500;
}
.section-1-item img {
    width: 64px;
    height: 64px;
}

/* ---------------------section -1 end ----------------------------- */

/* ---------------------section 2 ---------------------------------- */

.section-2-container {
    margin-top: 16px;
    height: 280px;
    width: 100%;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/3376/560/image/0735712fe84c602d.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------------------section 2 end------------------------------- */

/* ---------------------section 3------------------------------------ */
.section-3-container {
    margin-top: 8px;
    height: 122px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/2848/246/image/d56a3ed6d200038a.jpg?q=50');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* ---------------------section 3 end-------------------------------- */

/* ---------------------section 4------------------------------------ */

.section-4-container {
    height: 362px;
    margin-top: 8px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

} 

.section-4-offers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 230px;
    background-image: url('https://rukminim1.flixcart.com/fk-p-flap/278/278/image/1e483f8045ec13a8.jpg?q=90');
    background-position: bottom;
    background-repeat: no-repeat;
}

.section-4-offers-viewall {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between ;
    margin-top: 10px;
    width: 100%;
    font-size: 30px;
    font-weight: 400;
}

.section-4-offers-viewall button {
    background-color: var(--primary-color);
    margin-top: 20px;
    height: 40px;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 2px;
    font-size: 13px;
    cursor: pointer;
    box-shadow: 0 2px 2px 0 rgba(0 0 0 / 20%);
    outline: none;
    font-weight: 550;
}
.section-4-list {
    width: calc(100% - 230px);
    height: 100%;
    display: flex;
    overflow-x: auto;
}
.section-4-list-item {
    display: inline-block; 
    width: 232px;
    height: 100%;
    padding: 25px 15px;
    max-height: 366px;
    text-align: center;

}

.section-4-list-item img {
    width: 200px;
    height: 200px;
}
.section-4-item-head {
    font-size: 14px;
    font-weight: 550;
    margin-top: 16px;
    
    color: #212121;
}

.section-4-item-price {
    color: #388e3c;
    margin-top: 12px;
}

.section-4-item-explore {
    margin-top: 12px;
    opacity: .6;
    font-size: 12px;
    font-weight: 400;
}

/* ---------------------section 4 end ------------------------------- */

/* ---------------------section 5------------------------------------- */

.section-5 {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.section-5 img {
    width: 33%;
}
/* ---------------------section 5 end --------------------------------- */

/* ------------------footer------------------------------------- */
footer {
    text-align: center; 
    margin-top: 26px;
    background-color: #fff;
    padding: 25px;
    font-weight: 500;
    font-size: 18px;
    color: #878787;
}

/* ------------------footer end ---------------------------------*/